/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  font-family: Helvetica, Arial, sans-serif;
}
img{
  display: block;
  margin: 0 auto;
}
span{
  display: inline-block;
  margin: 0.5rem;
}

/******************************************
/* HEADINGS
/*******************************************/
h1 {
  margin: 1.5rem 1rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#map {
  height: 90vh;
  width: 100%;
}

#header {
  font-weight: 2rem;
}
#coordinates {

}